.Header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2px;
    width: 100%;
    margin: 0 auto;
}

.Header img {
    width: 60%;
}

.headerText {
    margin: 20px auto;
}

.headerText p {
    margin: 0;
    font-size: 16px;
    font-style: italic;
}

.TheForm {
    text-align: left;
}

.question {
    margin: 4px 2px;
}

.questionContainer label {
    font-weight: normal;
}

.questionContainer input {
    width: 16px;
    height: 16px;
}

.questionContainer a {
    text-decoration: underline;
    color: blue;
}

.btnContainer {
    display: flex;
    flex: row;
    margin: 12px 24px;
}

.btnStyles {
    all: unset;
    flex: none;
    text-align: center;
    background-color: rgba(255, 119, 100, 0.3);
    border: 1px solid black;
    border-radius: 20px;
    width: 15%;
    margin: 0 2%;
    padding: 4px 0;
}

.resultNum {
    color: red;
    font-size: 300%;
    font-weight: bold;
}

.shareBtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.reaction {
    max-width: 100%;
}

.reaction img {
    width: 100%;
}




@media only screen and (max-width: 992px) {
    .btnStyles {
        width: 20%;
    }
}

@media only screen and (max-width: 768px) {
    .btnStyles {
        width: 27.5%;
    }
}

@media only screen and (max-width: 576px) {
    .btnContainer {
        display: flex;
        flex: row;
        margin: 0 2px;
    }

    .btnStyles {
        flex: 2;
        width: 100%;
    }

    .Header img {
        width: 96%;
    }

    .headerText p {
        font-size: 12px;
    }
}