.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #FBEEC8;
  background-image: url('./components/thali.png');
  background-size: 33vw 33vh;
  background-blend-mode: screen;
  margin: 0;
  min-height: 100vh;
  padding: 8px;
  font-family: Times, serif;
}