.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #FBEEC8;
  background-image: url('./components/thali.png');
  background-size: 33vw 33vh;
  background-blend-mode: screen;
  margin: 0;
  min-height: 100vh;
  padding: 8px;
  font-family: Times, serif;
}

@media only screen and (max-width: 768px) {
  .App {
    background-size: 50vw 33vh; 
  }
}
@media only screen and (max-width: 576px) {
  .App {
    background-size: 100vw 33vh; 
  }
}